

.green {
    color: #00cc00; 
  }
  
  .blue {
    color: #0000cc; 
  }
  
  .purple {
    color: #cc00cc; 
  }
  
  .orange {
    color: #ff6600; 
  }
  
  .red {
    color: #ff0000; 
  }
  
  /* Add any additional CSS styles you need for the multicolor text */
  
  